 ::-webkit-scrollbar {
      width: 14px;
      background-color: #18416b;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #18416b;
      border-radius: 5px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: orange;
    }
body { margin: 0; background-color: #18416b}
    .sidebar-desktop {
      width: 250px;
      height: calc(100% - 67px);
      background-color: #18416b;
      color: white;
      position: fixed;
      top: 56px;
      left: 0;
      overflow-y: auto;
      transition: all 0.3s ease;
	  
    }
    
    .icon-spacing {
      margin-right: 10px;
      width: 25px;
      text-align: center;
    }
    .sidebar-logo {
      text-align: center;
      padding: 10px;
    }
    .sidebar-logo img {
      width: 200px;
      height: auto;
    }
    .sidebar-desktop .nav-link,
    .offcanvas-body .nav-link {
      color: white;
      padding: 10px 20px;
    }
    .sidebar-desktop .nav-link:hover,
    .offcanvas .nav-link:hover {
      background-color: #495057 !important;
      color:orange !important;
	  border-radius:10px;
    }
    


    .sidebar-collapsed {
      width: 0 !important;
      padding: 0 !important;
      overflow: hidden !important;
    }
    .main-content {
      margin-top: 56px;
      transition: all 0.3s ease;
    }
    .with-sidebar { margin-left: 250px; }
    .without-sidebar { margin-left: 0; }
    @media (max-width: 767px) {
      .sidebar-desktop { display: none; }
      .main-content { margin-left: 0 !important; }
    }
    .toggle-btn {
      background: none;
      border: none;
      color: white;
      font-size: 1.3rem;
    }
    .transition { transition: transform 0.3s ease; }
    .rotate-90 { transform: rotate(90deg); }
    .submenu-link {
      font-size: 0.95rem;
      padding-left: 40px;
    }
    .nav-link.active,
    .nav-link.submenu-link.active,
    .nav-link.active:focus,
    .nav-link.active:visited {
      color: #FFA500 !important;
      font-weight: normal;
      background-color: #495057 !important;
	  border-radius:10px;
    }
    .fade-in {
      animation: fadeIn 1s ease-in;
    }
    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(10px); }
      to { opacity: 1; transform: translateY(0); }
    }
    .judul-halaman {
      margin-top: 70px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
.bg-dark2{background:#18416b}
.text-bg-dark2{background:#18416b}
.main-content iframe {
  width: 100%;
  height: 100vh; /* atau gunakan 100% jika div parent-nya punya tinggi tetap */
  border: none;
border-top-left-radius: 20px;	
 visibility: hidden;
}
#motivasi {
  display: inline-block;
  background: linear-gradient(135deg, #f39c12, #e74c3c); /* gradasi oranye ke merah */
  color: #fff;
font-size: 0.9em;
  font-weight: bold;
  padding:7px;
  border-left: 4px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
 .welcome-container img {
      margin:0px;
      border-radius: 50%;
      width: 80px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
.welcome-text {
      
      font-size: 1.2em;
      font-weight: bold;
      margin-top: 10px;
      color: #2c3e50;
    }

    .copyright {
      font-size: 0.9em;
      color: #7f8c8d;
      margin-top: 10px;
    }
